#Build Directories
[Dd]ebug/
[Rr]elease/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*.spy
*.pdb
*.stp
*.dep

#Workspace
*.wdb
*.wed
*.stw

#Proteus temporary files
*.workspace
**/Project Backups/